@font-face {
  font-family: "iconfont"; /* Project id 3336397 */
  src: url('iconfont.woff2?t=1650202339785') format('woff2'),
       url('iconfont.woff?t=1650202339785') format('woff'),
       url('iconfont.ttf?t=1650202339785') format('truetype');
}

.icon {
  width: 2em;
  height: 2em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e626";
}

.icon-shoucang1:before {
  content: "\e613";
}

.icon-dianzan:before {
  content: "\e630";
}

.icon-dianzan1:before {
  content: "\e632";
}

